body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    color: white;
    background: linear-gradient(270deg, pink, skyblue, lightgreen, lightyellow);
    background-size: 400% 400%;
    animation: move 8s infinite;
}

@keyframes move {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.container { text-align: center; }

.year { font-size: 60px; }
.msg { font-size: 22px; }

/* Main Button */
.btn {
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background: white;
    color: black;
}

.btn:hover {
    background: black;
    color: white;
}

/* Floating Emojis */
.floating, .floating2 {
    position: absolute;
    font-size: 40px;
    animation: float 6s infinite;
}

.floating { left: 20%; top: 80%; }
.floating2 { right: 20%; top: 90%; animation-delay: 2s; }

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-200px); }
    100% { transform: translateY(0); }
}

/* Popup */
.vision-board {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    display: none;
    justify-content: center;
    align-items: center;
}

.vision-content {
    background: white;
    padding: 20px;
    border-radius: 15px;
    width: 85%;
    text-align: center;
    max-height: 80vh;
    overflow-y: auto;
}

.vision-content h2 {
    color: black;
}

/* Music Button */
.music-btn {
    padding: 10px 20px;
    background: #ff00cc;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 15px;
}

.music-btn:hover {
    background: #ff66ff;
}

/* Grid */
.vision-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.vision-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
}

/* Close Button */
.vision-content button {
    margin-top: 15px;
    padding: 10px 25px;
    border: none;
    background: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
